<a href="https://colab.research.google.com/github/ROBERTOCRA2020/Exclusao_Digital/blob/main/Atividade_Extensionista_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importação de bibliotacas
import pandas as pd
import numpy as np
from google.colab import files
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#Importação do arquivo para tratamento e análise
dados_originais = pd.read_csv('/content/drive/MyDrive/Atividade Extensionista II - Uninter/Dados/tic_domicilios_2025_individuos_base_de_microdados_v1.0.csv', sep=';', encoding= 'utf-8')

In [3]:
#visualização dos dados
dados_originais

,QUEST,ID_DOMICILIO,ID_MORADOR,SEXO,IDADE,FAIXA_ETARIA,GRAU_INSTRUCAO_1,ESTUD,APOSENT,PEA,...,G5_AGREG,I1A_NENHUM,J5_FAIXAS,J2_NENHUM,J3_AGREG,J3AB,C5_COB_AGREG,C5_COB_NENHUM,C6_COB_NENHUM,TIPO_RM_NUM
0,216909933,28504,1,1,22,2,14,0,0,3,...,1,99,1,99,1,3,0,1,1,9
1,216912043,28515,2,2,34,3,17,1,0,1,...,1,99,2,99,1,3,0,1,1,9
2,216912364,28501,1,1,21,2,15,1,0,1,...,1,99,2,99,1,3,0,1,1,9
3,216912365,28505,1,2,64,6,10,0,1,5,...,0,1,1,99,1,3,0,1,1,9
4,216912367,28510,1,1,69,6,13,0,1,5,...,0,1,1,99,1,3,0,1,1,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24530,223909786,36073,1,1,31,3,15,0,0,1,...,1,99,1,99,1,3,0,1,1,12
24531,223909787,36067,1,1,45,5,15,0,0,1,...,0,99,1,99,1,3,0,1,1,12
24532,223909788,36061,1,1,72,6,10,0,1,5,...,0,1,1,99,0,4,0,1,1,12
24533,223909809,36066,1,1,68,6,13,0,1,5,...,0,1,1,99,1,3,0,1,1,12
24534,223909810,36071,1,1,72,6,10,0,1,5,...,0,1,0,1,0,4,0,1,1,12

In [4]:
#Seleção das colunas para análise
dados1=dados_originais[['ID_DOMICILIO','CLASSE_2015','AREA','COD_UF','SEXO','IDADE','GRAU_INSTRUCAO_1','GRAU_INST_1','ESTUD','APOSENT','RACA','C1','C2A','B1','B2']]

In [5]:
# Aplicação de filtro para selecionar somente os dados referentes a localidade do Distrito Federal
dados2 = dados_originais[dados_originais['COD_UF']==53][['ID_DOMICILIO','CLASSE_2015','AREA','COD_UF','SEXO','IDADE','GRAU_INSTRUCAO_1','GRAU_INST_1','ESTUD','APOSENT','RACA','C1','C2A','B1','B2']]

In [6]:
# Alteração do nome de alugmas colunas
dados2 = dados2.rename(columns={'C1': 'USOU_INTERNET', 'C2A': 'MOTIVO', 'B1': 'USOU_COMPUTADOR', 'B2': 'QDO_USOU'})

In [7]:
#Mapeamento  dos dados para subsituição
map_classe2015 = {1: 'A', 2: 'B', 3: 'C', 4: 'DE'}
map_area = {1: 'Urbana', 2: 'Rural'}
map_sexo = {1: 'Masculino', 2: 'Feminino'}
map_grinst = {1: 'Analfabeto', 2: 'Ensino Fundamental', 3: 'Ensino Médio', 4: 'Ensino Superior'}
map_estud = {1: 'Sim', 0: 'Não'}
map_aposent = {1: 'Sim', 0: 'Não'}
map_raca = {1: 'Branca', 2: 'Preta', 3: 'Amarela', 4: 'Parda', 5: 'Indígena', 98: 'Não respondeu'}
map_usouinternet = {0: 'Não', 1: 'Sim', 97: 'Não sabe', 98: 'Não respondeu'}
map_motivo = {4: 'Por não ter onde acessar', 5: 'Por ser muito caro', 6: "Por ter preocupações com segurança ou privacidade",
  7: "Por evitar o contato com conteúdo perigoso", 8: "Por outro motivo", 9: "Por falta de interesse ou necessidade",
  10: "Por não saber usar", 97: "Não sabe", 98: "Não respondeu", 99: "Não se aplica"}
map_usoucomput = {0: 'Não', 1: 'Sim', 97: 'Não sabe', 98: 'Não respondeu', 99: 'Não se aplica'}
map_qdo_usou = {1: 'Há menos de três meses', 2: 'Entre três e doze meses', 3: 'Mais de doze meses atrás', 99: "Não se aplica"}
#Aplica a substituição dos dados na coluna
dados2['CLASSE_2015'] = dados2['CLASSE_2015'].replace(map_classe2015).astype(str)
dados2['AREA'] = dados2['AREA'].replace(map_area).astype(str)
dados2['COD_UF'] = dados2['COD_UF'].replace({53: 'DF'})
dados2['SEXO'] = dados2['SEXO'].replace(map_sexo).astype(str)
dados2['GRAU_INST_1'] = dados2['GRAU_INST_1'].replace(map_grinst).astype(str)
dados2['ESTUD'] = dados2['ESTUD'].replace(map_estud).astype(str)
dados2['APOSENT'] = dados2['APOSENT'].replace(map_aposent).astype(str)
dados2['RACA'] = dados2['RACA'].replace(map_raca).astype(str)
dados2['USOU_INTERNET'] = dados2['USOU_INTERNET'].replace(map_usouinternet).astype(str)
dados2['MOTIVO'] = dados2['MOTIVO'].replace(map_motivo).astype(str)
dados2['USOU_COMPUTADOR'] = dados2['USOU_COMPUTADOR'].replace(map_usoucomput).astype(str)
dados2['QDO_USOU'] = dados2['QDO_USOU'].replace(map_qdo_usou).astype(str)

In [8]:
# Visualização das alterações aplicadas
dados2.head()

,ID_DOMICILIO,CLASSE_2015,AREA,COD_UF,SEXO,IDADE,GRAU_INSTRUCAO_1,GRAU_INST_1,ESTUD,APOSENT,RACA,USOU_INTERNET,MOTIVO,USOU_COMPUTADOR,QDO_USOU
142,40276,B,Urbana,DF,Masculino,47,16,Ensino Superior,Sim,Não,Preta,Sim,Não se aplica,Sim,Há menos de três meses
145,40278,DE,Urbana,DF,Feminino,30,12,Ensino Fundamental,Não,Não,Amarela,Sim,Não se aplica,Não,Não se aplica
326,40280,DE,Urbana,DF,Masculino,28,13,Ensino Fundamental,Não,Não,Preta,Sim,Não se aplica,Não,Não se aplica
327,40283,C,Urbana,DF,Masculino,26,14,Ensino Médio,Não,Não,Amarela,Sim,Não se aplica,Sim,Mais de doze meses atrás
405,40277,C,Urbana,DF,Masculino,50,12,Ensino Fundamental,Não,Não,Preta,Sim,Não se aplica,Não,Não se aplica

In [9]:
# Salvando os dados no drive
dados2.to_csv('exclusao_digital.csv', index=False, encoding='utf-8-sig')

In [10]:
# Realizando o download dos dados para o computador
files.download('exclusao_digital.csv')